<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <table border="1px">
        <thead>
            <tr>
                <th>id</th>
                <th>学生</th>
                <th>学校</th>
                <th>专业</th>
                <th>题目</th>
                <th>字数</th>
                <th>查重率</th>
                <th>性质</th>
                <th>新增时间</th>
                <th>开题时间</th>
                <th>正文时间</th>
                <th>写手</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
                <td>{{ row.7 }}</td>
                <td>{{ row.8 }}</td>
                <td>{{ row.9 }}</td>
                <td>{{ row.10 }}</td>
                <td>{{ row.11 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
