<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Student Data</h1>
    <table>
        <thead>
            <tr>
                <th>stu_id</th>
                <th>stu_name</th>
                <th>stu_number</th>
                <th>stu_password</th>
                <th>stu_phone</th>
                <th>stu_wechat</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
